<oobj-container title="{{::title}}">
    <oobj-panel colspan="col-lg-12">
        <form role="form" novalidate>
            <div class="form-group">
                <ng-include src="'formActions'" ng-if="showBtnOnTop"></ng-include>

                <div class="container-fluid">
                    <div class="row">
                        <div ng-transclude></div>
                    </div>
                </div>

                <ng-include src="'formActions'" ng-if="showBtnOnBottom"></ng-include>
            </div>
        </form>
    </oobj-panel>
</oobj-container>

<script type="text/ng-template" id="formActions">
    <div class="row">
        <div class="col-md-12 text-right">
            <oobj-button label="Limpar" btn-class="btn-default" icon="fa-eraser" ng-click="vm.limpar()" ng-if="showBtnLimpar">
            </oobj-button>

            <oobj-button label="Excluir" btn-class="btn-danger" icon="fa-trash-o" ng-click="vm.excluir()" ng-if="showBtnExcluir">
            </oobj-button>

            <oobj-button label="Salvar" btn-class="btn-primary" icon="fa-floppy-o" ng-click="vm.salvar()" padding-right="0px"
                         ng-if="showBtnSalvar">
            </oobj-button>
        </div>
    </div>
</script>
