<div class="panel-body" ng-class="::colspan">
    <ul class="timeline">
        <li ng-repeat="item in ::provider | filter:type track by $index" ng-class="::($even ? '' : 'timeline-inverted')">
            <div ng-if="::item.badge" class="timeline-badge" ng-class="::item.timelineStyle">
                <i class="fa {{::item.badge}}"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h5 class="timeline-title" ng-bind="::item.title"></h5>
                    <p class="timeline-date text-muted">
                        <i class="fa fa-clock-o"></i>&nbsp;
                        <span ng-bind="::item.date | date:'dd/MM/yyyy hh:mm:ss'"></span>
                    </p>
                </div>
                <div class="timeline-body" ng-if="::item.description">
                    <p class="timeline-description" ng-bind="::item.description"></p>
                </div>
            </div>
        </li>
    </ul>
</div>