<div class="form-group">
    <oobj-button
            ng-click="::openModalUploadXML()"
            ng-hide="::hideUploadXml"
            label="Upload de XML"
            icon="fa-upload"
            btn-class="btn-primary">
    </oobj-button>

    <oobj-button
            ng-click="::openModalBaixarXML()"
            ng-hide="::hideDownloadXml"
            label="Baixar XML"
            icon="fa-download"
            btn-class="btn-primary">
    </oobj-button>

    <oobj-button
            ng-click="::openModalBaixarDANFe()"
            ng-hide="::hideDownloadDanfe"
            label="Baixar DANFE"
            icon="fa-download"
            btn-class="btn-primary">
    </oobj-button>

    <oobj-button
            ng-click="::openModalManifestar()"
            ng-hide="::hideManifestar"
            label="Manifestar"
            icon="fa-bullhorn"
            btn-class="btn-primary">
    </oobj-button>

    <oobj-button
            ng-click="::openModalReconsultarSefaz()"
            ng-hide="::hideReconsultar"
            label="Reconsultar"
            icon="fa-refresh"
            btn-class="btn-primary">
    </oobj-button>

    <oobj-button-dropdown
            label="Entrada"
            ng-hide="::hideEntrada"
            icon="fa-map-signs"
            btn-class="btn-primary"
            provider="::itensEntrada">
    </oobj-button-dropdown>

    <oobj-button-dropdown
            label="Gerar Retorno"
            ng-hide="::hideGerarRetorno"
            icon="fa-long-arrow-left"
            btn-class="btn-primary"
            provider="::itensGerarRetorno">
    </oobj-button-dropdown>

    <oobj-button-dropdown
            label="Mais Ações"
            ng-hide="::hideMaisAcoes"
            icon="fa-th-large"
            btn-class="btn-primary"
            provider="::dropdownItems">
    </oobj-button-dropdown>
</div>