<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">

            <li ng-class="{active: collapseVar == $index}" ng-repeat="categoria in provider track by $index">

                <a href="" ng-click="check($index)" ng-if="categoria.itens != undefined">
                    <i class="fa" ng-class="categoria.icon"></i>
                    <span ng-bind="categoria.label"></span>
                    <span class="fa arrow" ng-if="categoria.itens != undefined"></span>
                </a>

                <a href="" ng-click="check($index)" ng-if="categoria.itens == undefined" ui-sref="{{ categoria.sref }}">
                    <i class="fa" ng-class="categoria.icon"></i>
                    <span ng-bind="categoria.label"></span>
                    <span class="fa arrow" ng-if="categoria.itens != undefined"></span>
                </a>

                <ul class="nav nav-second-level" collapse="collapseVar != $index" ng-if="categoria.itens != undefined">
                    <li ui-sref-active="active" ng-repeat="item in categoria.itens track by $index">

                        <a ui-sref="{{ item.sref }}">
                            <span ng-class="item.icon" ng-if="item.icon != undefined"></span>
                            <span ng-bind="item.label"></span>
                        </a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>