<div class="ui-grid-cell-contents">
    <i class="fa fa-map-o oobj-options-column-cursor"
       uib-tooltip="Ciclo de Vida da CF-e" tooltip-placement="left"
       data-toggle="modal" data-target="#oobjModal"></i>&nbsp;&nbsp;
    <i class="fa fa-eye oobj-options-column-cursor" uib-tooltip="Detalhes da CF-e"
       tooltip-placement="left" ng-click="grid.appScope.openModalDetalhes(row)"></i>&nbsp;&nbsp;
    <i class="fa fa-comments-o oobj-options-column-cursor" uib-tooltip="Eventos Vinculados à CF-e"
       tooltip-placement="left" ng-click="grid.appScope.openModalEventosVinculados(row)"></i><br>
    <i class="fa fa-cloud-upload oobj-options-column-cursor" uib-tooltip="Envio para o Noov"
       tooltip-placement="left"></i>&nbsp;&nbsp;
    <i class="fa fa-paper-plane-o oobj-options-column-cursor" uib-tooltip="Histórico de Entrega da CF-e"
       tooltip-placement="left" ng-click="grid.appScope.openModalHistoricoEntrega(row)"></i>&nbsp;&nbsp;
    <i class="fa fa-commenting-o oobj-options-column-cursor" uib-tooltip="Observações da CF-e"
       tooltip-placement="left" ng-click="grid.appScope.openModalObservacoes(row)"></i>&nbsp;&nbsp;
</div>