<div ng-class="colspan" class="form-group form-group-{{inputSize}}">
    <label class="control-label" ng-show="showLabel != false && label != undefined">
        <strong><span ng-bind="label"></span></strong>
        <span class="text-danger" ng-show="ngRequired">*</span>
    </label>

    <div class="input-group">
        <select name="select" class="form-control" required="{{ngRequired}}" ng-model="ngModel"
                ng-options="item as item[itemLabel] for item in provider" ng-style="selectStyle">
            <option ng-if="showEmptyOption" value="">Selecione uma opção...</option>
        </select>
    </div>
</div>