<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="::vm.cancel()">&times;</button>

        <div class="row center">
            <i class="fa fa-5x" ng-class="::vm.dfe.statusIntegridadeArquivo.icone"
               style="color: {{vm.dfe.statusIntegridadeArquivo.cor}};"></i>

            <h4>
                <span ng-bind="::vm.dfe.statusIntegridadeArquivo.titulo" class="oobj-ciclo-vida-column-title"></span>
                <i uib-tooltip="" tooltip-placement="left" class="fa fa-info-circle icon-info-medium-center"></i>
            </h4>
        </div>
    </div>

    <div class="modal-body">
        <div class="row center">
            <p ng-bind-html="::vm.dfe.statusIntegridadeArquivo.descricao"></p>
        </div>
    </div>

    <div class="row center modal-footer">
        <oobj-button ng-click="::vm.cancel()" label="FECHAR" btn-class="oobj-ciclo-vida-column-btn-cancelar">
        </oobj-button>

        <oobj-button ng-click="::vm.saibaMais()" btn-class="oobj-ciclo-vida-column-btn-saiba-mais" label="SAIBA MAIS">
        </oobj-button>

        <oobj-button ng-click="::vm.acao()" ng-show="::vm.dfe.statusIntegridadeArquivo.linkAcao"
                     label="DOWNLOAD NA SEFAZ" btn-class="btn-primary">
        </oobj-button>
    </div>
</div>
