<oobj-container title="{{::title}}">
    <oobj-panel colspan="col-lg-12">
        <div class="container-fluid">
            <div class="row oobj-search-container">
                <div class="form-group">
                    <ng-include src="'formActions'" ng-if="showBtnOnTop"></ng-include>

                    <div class="container-fluid">
                        <div class="row">
                            <div ng-transclude></div>
                        </div>
                    </div>

                    <ng-include src="'formActions'" ng-if="showBtnOnBottom"></ng-include>
                </div>
            </div>
        </div>
    </oobj-panel>

    <oobj-panel colspan="col-lg-12">
        <ng-include src="'additionalContent'"></ng-include>

        <div class="row" ng-if="vm.data">
            <oobj-grid colspan="col-md-12" data="vm.data" grid-options="gridOptions"></oobj-grid>
        </div>
    </oobj-panel>
</oobj-container>

<script type="text/ng-template" id="formActions">
    <div class="row">
        <div class="col-md-12 text-right">
            <oobj-button label="Limpar" btn-class="btn-success" icon="fa-eraser" ng-click="::vm.limpar()"
                         ng-if="::showBtnLimpar">
            </oobj-button>

            <oobj-button label="Pesq. Avançada" btn-class="btn-default" ng-click="::vm.pesquisaAvancada()"
                         icon="{{::(showBtnOnTop ? 'fa-search-minus': 'fa-search-plus')}}"
                         ng-if="::showBtnPesquisaAvancada">
            </oobj-button>

            <oobj-button label="Pesquisar" btn-class="btn-primary" icon="fa-search" padding-right="0px"
                         ng-click="::vm.pesquisar()" ng-if="::showBtnPesquisar">
            </oobj-button>
        </div>
    </div>
</script>
