<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="::vm.cancelar()">&times;</button>

        <div class="row center">
            <i class="fa fa-5x fa-heartbeat  oobj-dfe-actions-header-primary"></i>

            <h4>
                <span class="oobj-dfe-actions-header-title">
                    Diagnóstico Fiscal
                </span>
            </h4>
        </div>
    </div>

    <div class="modal-body">
        <div class="row center">
            <p>
                Você selecionou <strong ng-bind="::vm.quantidadeItens"></strong>
                documento(s) para ser(em) diagnosticado(s).
            </p>
            <p>
                Essa ação analisa automaticamente os tributos das NF-e's selecionadas e indica todas as críticas
                encontradas além de propor algumas sugestões.
            </p>
            <div class="row">
                <div class="col-md-6 oobj-dfe-actions-font-super-small">
                    <i class="fa fa-2x fa-check-square-o oobj-dfe-actions-amarelo-desbotado"></i>
                    <br>
                    Identificação de <strong>NCMs</strong> inválidas
                </div>
                <div class="col-md-6 oobj-dfe-actions-font-super-small">
                    <i class="fa fa-2x fa-check-square-o oobj-dfe-actions-amarelo-desbotado"></i>
                    <br>
                    Aplicação de Alíquotas do <strong>IPI</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 oobj-dfe-actions-font-super-small">
                    <i class="fa fa-2x fa-check-square-o oobj-dfe-actions-amarelo-desbotado"></i>
                    <br>
                    Aplicação de Alíquotas de <strong>ICMS</strong> para Operações Interestaduais
                </div>
                <div class="col-md-6 oobj-dfe-actions-font-super-small">
                    <i class="fa fa-2x fa-check-square-o oobj-dfe-actions-amarelo-desbotado"></i>
                    <br>
                    Escrituração do Ponto de Vista de Operação
                    (Coerência entre <strong>Operações</strong> e <strong>Situação</strong> Tributária)
                </div>
            </div>
        </div>
    </div>

    <div class="row center modal-footer">
        <oobj-button ng-click="::vm.cancelar()" label="Cancelar" btn-class="oobj-dfe-actions-btn-cancelar">
        </oobj-button>

        <oobj-button ng-click="::vm.diagnosticar()" label="Diagnosticar" btn-class="btn-primary">
        </oobj-button>
    </div>
</div>