<div class="container">
    <div class="card card-container">
        <img id="logo-img" class="logo-img" src="{{logo}}" />

        <form class="form-signin" role="form">
            <input type="text" id="inputUsername" ng-model="username" class="form-control" placeholder="Usuário" required autofocus>
            <input type="password" id="inputPassword" ng-model="password" class="form-control" placeholder="Senha" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="login()">{{labelBtnLogin || 'Login'}}</button>
        </form><!-- /form -->

        <div class="signin-help">
            <p>
                <span ng-bind="msgForgotPassword || 'Esqueceu sua senha?'"></span>&nbsp;
                <button class="btn btn-link" ng-click="forgotPassword()">clique aqui</button>
                <br>
                <span ng-bind="msgNewUser || 'Não tem conta?'"></span>&nbsp;
                <button class="btn btn-link" ng-click="newUser()">criar conta</button>
            </p>
        </div>
    </div>
</div>
