<div ng-class="colspan" class="form-group form-group-{{inputSize}}">
    <label class="control-label" ng-if="showLabel != false && label != undefined" for="{{id}}">
        <span ng-bind="label"></span>
        <span style="color: red;" ng-show="ngRequired">*</span>
    </label>
    <div class="input-group">
        <input id="{{id}}"
               type="{{type}}"
               class="form-control"
               ng-model="ngModel"
               ng-disabled="ngDisabled"
               ng-required="ngRequired"
               ng-change="onChange($event)"
               ng-blur="onBlur($event)"
               ng-keyup="onKeyup($event)"
               ng-keydown="onKeydown($event)"
               ng-readonly="ngReadonly"
               placeholder="{{placeholder}}"
               maxlength="{{maxlength}}"
               max="{{max}}"
               min="{{min}}" />
        <div class="input-group-btn">
            <button type="button" ng-click="limpar()" class="btn btn-default btn-{{inputSize}}">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>
</div>
