<div>
    <oobj-button
            data-toggle="modal"
            data-target="#oobjConfirm"
            label="{{ label }}"
            icon="{{ icon }}"
            btn-class="{{ btnClass }}">
    </oobj-button>

    <div id="oobjConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <span ng-bind="title || 'Confirmação'"></span>
                    </h4>
                </div>

                <div class="modal-body">
                    <p>
                        <span ng-bind="msg" ng-style="msgStyle"></span>
                    </p>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <oobj-button data-dismiss="modal" label="{{labelBtnYes || 'Sim'}}" ng-click="onClickBtnYes()"
                                         icon="fa-check" btn-class="{{classBtnYes  || 'btn-primary'}}">
                            </oobj-button>

                            <oobj-button data-dismiss="modal" label="{{labelBtnNo || 'Não'}}" ng-click="onClickBtnNo()"
                                         icon="fa-times" btn-class="{{classBtnNo || 'btn-default'}}">
                            </oobj-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
