<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="::vm.cancelar()">&times;</button>

        <div class="row center">
            <h4>
                <span class="oobj-options-column-title">
                    Carta de Correção
                </span>
                <i uib-tooltip="" tooltip-placement="left" class="fa fa-info-circle icon-info-medium-center"></i>
            </h4>
        </div>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="row">
                <div class="col-md-4">
                    <p class="oobj-options-column-line-height">
                        <span class="text-muted">Número - Série</span>
                        <br/>
                        <span class="text-primary" ng-bind-html="::(vm.dfe.numeroSerieInfo.numero +
                                ' - ' + vm.dfe.numeroSerieInfo.serie)"></span>
                    </p>
                </div>

                <div class="col-md-8">
                    <p class="oobj-options-column-line-height">
                        <span class="text-muted">Chave de Acesso</span>
                        <br/>
                        <span class="text-primary" ng-bind="::vm.dfe.chaveAcesso"></span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <p class="oobj-options-column-line-height">
                        <span class="text-muted">Emitente</span>
                        <br/>
                        <span class="text-primary" ng-bind="::vm.dfe.emitenteInfo.razaoSocial.toUpperCase()">
                        </span>
                        <span class="text-primary" ng-bind="::vm.dfe.emitenteInfo.cnpj">
                        </span>
                    </p>
                </div>

                <div class="col-md-4">
                    <p class="oobj-options-column-line-height">
                        <span class="text-muted">Destinatário</span>
                        <br/>
                        <span class="text-primary" ng-bind="::vm.dfe.destinatarioInfo.razaoSocial.toUpperCase()">
                        </span>
                        <span class="text-primary" ng-bind="::vm.dfe.destinatarioInfo.cnpj">
                        </span>
                    </p>
                </div>

                <div class="col-md-4">
                    <p class="oobj-options-column-line-height">
                        <span class="text-muted">Transportador</span>
                        <br/>
                        <span class="text-primary" ng-bind="::vm.dfe.transportadorInfo.razaoSocial.toUpperCase()">
                        </span>
                        <span class="text-primary" ng-bind="::vm.dfe.transportadorInfo.cnpj">
                        </span>
                    </p>
                </div>
            </div>

            <hr/>

            <div class="row">
                <oobj-textarea ng-model="vm.evento.justificativa" rows="3" title="Justificativa da Correção"
                               label="Justificativa da Correção" colspan="col-md-12" tooltip-message="Justificativa">
                </oobj-textarea>

                <oobj-calendar colspan="col-md-4" label="Data do Evento" pattern="dd/MM/yyyy HH:mm"
                               ng-model="vm.evento.data" tooltip-message="Data/Hora do Evento">
                </oobj-calendar>
            </div>
        </div>
    </div>

    <div class="row center modal-footer" ng-hide="vm.confirmar">
        <p class="text-danger" ng-show="vm.invalid">
            <span ng-bind-html="vm.msgValidacao"></span>
        </p>

        <oobj-button ng-click="::vm.cancelar()" label="Fechar"
                     btn-class="oobj-options-column-btn-gray oobj-options-column-btn-100px">
        </oobj-button>

        <oobj-button ng-click="::vm.exibirConfirmacao()" label="Registrar Evento"
                     btn-class="btn-primary">
        </oobj-button>
    </div>

    <div class="row center modal-footer" ng-show="vm.confirmar">
        <p class="oobj-options-column-line-height">
            <b>Você realmente deseja registrar esta carta de correção?</b><br>
            Não será possível desfazer esta ação.
        </p>

        <oobj-button ng-click="::vm.desfazerEvento()" label="Desfazer"
                     btn-class="oobj-options-column-btn-gray oobj-options-column-btn-100px">
        </oobj-button>

        <oobj-button ng-click="::vm.registrar()" label="Sim, quero registrar"
                     btn-class="btn-warning">
        </oobj-button>
    </div>
</div>
