<div ng-class="colspan">
    <div class="panel" ng-class="panelClass" style="border: 1px solid #e7e7e7; border-radius: 0;">
        <div class="panel-heading" ng-if="title != undefined">
            <span ng-bind="title"></span>
        </div>

        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div ng-transclude></div>
                </div>
            </div>
        </div>

        <div class="panel-footer" ng-if="footer != undefined">
            <span ng-bind="footer"></span>
        </div>
    </div>
</div>