<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()">&times;</button>

        <div class="row center">
            <i class="fa fa-5x fa-download text-primary"></i>

            <h4>
                <span class="oobj-ciclo-vida-column-title">Download de DANFe</span>
                <i uib-tooltip="" tooltip-placement="left" class="fa fa-info-circle icon-info-medium-center"></i>
            </h4>
        </div>
    </div>

    <div class="modal-body">
        <div class="row center">
            <p>
                Você selecionou <strong ng-bind="vm.quantidade"></strong> documento(s) para fazer download do(s) DANFe.
            </p>
        </div>
    </div>

    <div class="row center modal-footer">
        <p ng-show="vm.invalid">
            <span class="text-danger" ng-bind-html="vm.msgValidacao"></span>
        </p>

        <oobj-button ng-click="vm.cancel()" label="Cancelar" btn-class="oobj-ciclo-vida-column-btn-cancelar">
        </oobj-button>

        <oobj-button ng-click="vm.download()" label="Baixar PDF" btn-class="btn-primary">
        </oobj-button>
    </div>
</div>